.button {
  flex: 0 0 auto;
  padding: 17px 80px 15px 75px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 2px solid #2000e7;
  border-radius: 10px;
  background: #2000e7;
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
  transition: $baseTransition;
  cursor: pointer;

  &:hover {
    box-shadow: 8px 14px 15px 6px rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: 4px 8px 12px 6px rgba(0, 0, 0, 0.25);
  }

  &_light {
    padding: 17px 56px 15px 67px;
    color: #2000e7;
    border-radius: 10px;
    border: 2px solid #2000e7;
    background-color: $white;
  }
}
